@import "extends";
@import "mixins";

footer {
	background-color: black;
	bottom: 0px;
	text-align: center;
	border: 3px solid gray;
	@include border-radius(10px);
	positon: fixed;
	width: 100%;

	.block-awesome {
	@extend %block;
	background-color: green;
	@include border-radius(50%);
}
	.block-danger {
	@extend %block;
	background-color: red;
	@include border-radius(50%);
}
	.block-caution{
	@extend %block;
	background-color: yellow;
	@include border-radius(15px);
	
}
	.block-disabled{
	@extend %block;
	background-color: LightGrey;
	@include border-radius(5px);
}
}