@import"variables";
@import"footer";
@import"tabs/_tab-a.scss";

body {
	background-color: $new-white;
	color: $text;
}
h1 {
	text-align: $middle-yo;
}


.container {
	width: 960px/960px * 100%;
}









